

body
  font-family 'Helvetica Neue', 'Arial', sans-serif
  margin 0 auto
  margin: 0;
  background: #4e4e4e;
  font-family: arial;
  color: #ffffff;

#slides {
    display: none;
}

.logo {
    margin-top: 5%;
    padding-left: 5%;
    width: 300px;
}

.header-links {
    background: #fce739;
    padding-left: 5%;
    color: #4e4e4e;
    font-size: 1.2em;
    ul {
      list-style: none;
    }
    a {
      text-decoration: none
      color: #4e4e4e;
    }
    a:visited { 
      color: #4e4e4e;
    }
}

.header li {
    display: inline-block;
    padding-right: 5%;
}

.content {
    margin-left: 5%;
    width: 90%;
    max-width: 900px;
}

.content img {
    max-width: 100%;
}

.slide {
    display: block;
    margin: auto;
}

.footer {
    padding: 0.5em 5%;
    margin: 1em 0;
    background: #fce739;
}
