body {
  background: #4e4e4e;
  font-size: 2em;
  font-family: arial;
  padding: 5%;
}

.logo {
  width: 100%;
}

.header ul{
  width: 100%;
  margin: 0;
  background: #fce739;
}
.header li{
  display: inline-block;
  padding: 0 5%
}

ul{
  list-style: none;
}