body {
  background: #4e4e4e;
  font-size: 2em;
  font-family: arial;
}

.header{
  
}
.logo {
  margin-left: 5%;
  width: 100%;
}

.header-links{
  width: 100%;
  padding-left: 5%;
  background: #fce739;
}
.header li{
  display: inline-block;
  padding: 0 5%
}

ul{
  list-style: none;
}